name: Metrics
on:
  # 매일 자정 자동 업데이트
  schedule: 
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - master
      - main

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - name: GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: letminjae
          template: classic
          base: ""
          
          plugin_languages: yes
          plugin_languages_ignored: html, css, scss
          plugin_languages_details: bytes-size, percentage
          plugin_languages_sections: most-used
          plugin_languages_indepth: yes
          plugin_languages_limit: 6

          config_timezone: Asia/Seoul
          theme: radical
